{% extends "blogpost/base1.html" %}


{%block content %}

<h1>Blog About!</h1>


{%endblock content %}

<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"> -->
    <!-- <title>About Page</title> -->
    <!-- {%if title%}
    <title>Django Blog About - {{ title}}</title>
    {%else%}
    <title>Django Blog About</title>
    {%endif%}
  </head>
  <body>
    <h1>Blog About!</h1> -->

    <!-- template engine -->
    <!-- {%for pst in posts %}
    <h1>{{pst.title}}</h1>
    {% endfor %} -->
  <!-- </body>
</html> -->
