{% extends "blogpost/base1.html" %}

<!--
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8"> -->
    <!-- <title>Home page</title> -->
    <!-- {%if title%}
    <title>Django Blogpost - {{ title}}</title>
    {%else%}
    <title>Django Blogpost</title>
    {%endif%}
  </head>
  <body>
    <h1>Blog Home!</h1> -->
    <!-- template engine -->
    <!-- {%for pst in posts %}
    <h1>{{pst.title}}</h1>
    <p>By {{pst.author}} on {{pst.data_posted}}</p>
    <p>{{pst.content}}</p>
    {% endfor %} -->
<!--



  </body>
</html> -->

<!-- template engine -->
{%block content %}

{%for pst in posts %}

<article class="media content-section">
  <img class="rounded-circle article-img" src="{{pst.author.profile.imagefiled.url}}" alt="">
<div class="media-body">
  <div class="article-metadata">
    <a class="mr-2" href="#">{{ pst.author }}</a>
    <!-- <small class="text-muted">{{ pst.data_posted }}</small> -->
    <small class="text-muted">{{ pst.date_posted|date:"F d,Y"}}</small>
    <!-- updated according to model field in models.py -->
    <!-- filters present -->

  </div>
  <h2><a class="article-title" href="{% url 'post-detail' pst.pk %}">{{ pst.title }}</a></h2>
  <p class="article-content">{{ pst.content }}</p>
</div>
</article>

<!-- <h1>{{pst.title}}</h1> -->

<!-- <p>By {{pst.author}} on {{pst.data_posted}}</p> -->
<!-- <p>{{pst.content}}</p> -->
{% endfor %}
{%endblock content %}
<!-- which block closed -->
