
{% extends "blogpost/base1.html" %}
{%block content %}


<article class="media content-section">
  <img class="rounded-circle article-img" src="{{object.author.profile.imagefiled.url}}" alt="">
<div class="media-body">
  <div class="article-metadata">
    <a class="mr-2" href="#">{{ object.author }}</a>
    <!-- <small class="text-muted">{{ object.data_posted }}</small> -->
    <small class="text-muted">{{ object.date_posted|date:"F d,Y"}}</small>
    <!-- updated according to model field in models.py -->
    <!-- filters present -->

  </div>
  <h2 class="article-title">{{ object.title }}</h2>
  <p class="article-content">{{ object.content }}</p>
</div>
</article>


{%endblock content %}
