{% extends 'base.html' %}

{% block content %}
<h1> About </h1>
<p> This is a template </p>

<p>
<!-- context variable  -->
{{my_text |capfirst}} , {{ my_nu|center:"25" }} , {{my_lit}}
</p>
<!-- loop in my_lit  -->
{{my_htm|safe|title}}   <!-- makes every word first letter capital -->
{{my_htm|striptags}} without any tags

<ul>
  {% for my_sub_item  in my_lit %}
  {% if my_sub_item == 312 %}
  <h1>Hella bitches</h1>
  <li>{{forloop.counter}}  -  {{my_sub_item|add:22}}</li>
  <!-- buit in template tag render -->
  {% endif %}
  <li>{{forloop.counter}}  -  {{my_sub_item}}</li>
  {% endfor %}


</ul>



{% endblock %}
